{% extends "base.html" %}
{% block content %}

   <main role="main" class="gallery" id="main" tabindex="-1">
        <!-- Jumbotron contents **** Claire Koo contribution – SI 539**** -->
        <div class="jumbotron">
            <div class="welcome col-lg-6">
                <h1 class="display-3">Meet <br>Our Pets</h1>
                <!-- prompt from petfinder.com -->
                <p class="lead">Thousands of adoptable pets are looking for a family like you. Welcoming a pet into your family is a big decision, but chances are good that your life will be better than ever with the companionship of your new best friend. When you’re ready to welcome a dog or cat (or rabbit or ferret or bird) into your home, use Paw Wow as your jump-off. The search starts right here.</p>
            </div>
        </div>     
        <!-- Bootstrap grid settings **** Claire Koo contribution – SI 539**** -->
        <!-- ****Hung-Wen Chen  contribution – SI 539****  for images' text alt and class -->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="pet1.html" class="imgContainer col-xs-6 caption">
                    <div class = "text"><p>June</p><p>Female</p><p>2 years</p></div>
                    <img src="static/(1).jpg" class="img-fluid" alt="dog"/></a>
                </div>
                <div class="col-sm-4">
                    <a href="pet2.html" class="imgContainer col-xs-6 caption">
                        <div class = "text"><p>Lanier</p><p>Male</p><p>4 years</p></div>
                        <img src="static/(2).jpg" class="img-fluid" alt="dog"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="pet3.html" class="imgContainer col-xs-6 caption">
                        <div class = "text"><p>Go</p><p>Male</p><p>8 months</p></div>
                        <img src="static/(3).jpg" class="img-fluid" alt="dog"/>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="pet4.html" class="imgContainer col-xs-6 caption">
                        <div class = "text"><p>Sun</p><p>Female</p><p>10 months</p></div>
                        <img src="static/(4).jpg" class="img-fluid" alt="dog"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="pet5.html" class="imgContainer col-xs-6 caption">
                        <div class = "text"><p>Rain</p><p>Male</p><p>1 year</p></div>
                        <img src="static/(5).jpg" class="img-fluid" alt="dog"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="pet6.html" class="imgContainer col-xs-6 caption">
                        <div class = "text"><p>Tim</p><p>Female</p><p>5 years</p></div>
                        <img src="static/(6).jpg" class="img-fluid" alt="dog"/>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="pet7.html" class="imgContainer col-xs-6 caption">
                        <div class = "text"><p>USA</p><p>Male</p><p>1 year</p></div>
                        <img src="static/(7).jpg" class="img-fluid" alt="dog"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="pet8.html" class="imgContainer col-xs-6 caption">
                        <div class = "text"><p>Mexico</p><p>Female</p><p>2 years</p></div>
                        <img src="static/(8).jpg" class="img-fluid" alt="dog"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="pet9.html" class="imgContainer col-xs-6 caption">
                        <div class = "text"><p>Trump</p><p>Male</p><p>2 years</p></div>
                        <img src="static/(9).jpg" class="img-fluid" alt="dog"/>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
