{% extends "base.html" %}
{% block content %}

    <!-- ****Yen-Ting Pen  contribution – SI 539****  content-->
    <main role="main" class="gallery" id="main" tabindex="-1">
        <!-- Jumbotron contents **** Claire Koo contribution – SI 539**** -->
        <div class="jumbotron">
            <div class="welcome col-lg-6">
                <h1 class="display-3">Meet <br>Our Pets</h1>
                <!-- prompt from petfinder.com -->
                <p class="lead">Thousands of adoptable pets are looking for a family like you. Welcoming a pet into your family is a big decision, but chances are good that your life will be better than ever with the companionship of your new best friend. When you’re ready to welcome a dog or cat (or rabbit or ferret or bird) into your home, use Paw Wow as your jump-off. The search starts right here.</p>
            </div>
        </div>

      <div class="container text-left">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <section id ="test">
                    <div id="tagforscrolldown"><p>&nbsp;</p></div>
                    <div class = "text textsinglepet"><h1>USA</h1><h1>Male</h1><h1>1 year</h1></div>
                    <img src="static/(7).jpg" class="img-fluid textsinglepet2" alt="dog"/>
                    <p class="col-12 col-sm-6 col-md-7 textsinglepet3">
                            Age - 1 year old<br>
                            Weight - 18 lb<br>
                            Gender - Male<br>
                            Breed - Dolmaitian<br>
                            Fun Fact 1: Favorite Toy - a stuffed sheep called Kevin<br>
                            Fun Fact 2: Loves tummy rubs
                        </p>
                    </section>
                </div>
               
        
      
                 <section id = "aboutsection">
                    <h2 class="display-4 text-center">About</h2>
                    <h3>
                      Tim
                    </h3>
                    <div>
                      Dolmaitian
                    </div>
                    
                    <div>
                      FAVORITE TOY
                    </div>
                    <div>
                      A stuffed sheep
                    </div>
                    <div>
                      LOVES
                    </div>
                    <div>
                      He loves people and playing fetch
                    </div>
                    <br>

                </section>
            </div>
        </div>

    </main>
    
    <div id="map">
    </div>
{% endblock %}
